@page "/event/{EventId:int}"
@inherits PresentationPageBase

@using Microsoft.AspNetCore.Components.Forms
@using Presentation.LightMediaTechTest.Components.Button
@using Presentation.LightMediaTechTest.Components.EventComponent
@using Presentation.LightMediaTechTest.Components.PresentationPageBase
@using Server.LightMediaTechTest.DatabaseContext.Models

<div class="event-page">
    <EventComponent CurrentUser="CurrentUser" Event="Event" DisplayCreatedDate="false" DisplayBookRedirect="false" />

    <div class="event-description">
        <p>@Event.EventFullDescription</p>
    </div>

    <div class="spacer" />

    <div class="event-confirm-attendance">
        @if (AlreadyApplied)
        {
            if (RecentlyApplied)
            {
                <h3>Thank You for Attending!</h3>
            }

            <Button Label="Withdraw Attendance" OnClick="() => AttendEventClicked(false)" />
        }
        else
        {
            if (CurrentUser is not null)
            {
                <h3>Confirm Contact Details to Complete Booking</h3>
                <br />

                <p>Display Name</p>
                <InputText @bind-Value="@CurrentUser.DisplayName" />

                <p>Email</p>
                <InputText @bind-Value="@CurrentUser.Email" />

                <Button Label="Confirm Attendance" OnClick="() => AttendEventClicked(true)" />
            }
        }
    </div>
</div>