.event {
    display: flex;
    flex-direction: column;
    padding-block: 2.5rem;
}

.event-container {
    display: flex;
}

.event-image {
    width: 20rem;
    height: 20rem;
}

.event-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
}

    .event-column > p {
        margin: 0.25rem;
    }

.event-created-date {
    font-size: 1rem;
}
